<div class="card">
    <div class="card-body">
        <h5 class="titulo mb-3">{{titulo | uppercase}}

            <div *ngIf="loading" class="spinner-border float-right" role="status">
                <span class="sr-only">Loading...</span>
            </div>

        </h5>
        <form (ngSubmit)="guardarTarjeta()" [formGroup]="forma">

            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-user-circle" [class.green-icon]="titular" [class.red-icon]="titularNoValido"></i></div>
                </div>
                <input type="text" formControlName="titular" class="form-control" placeholder="Titular">
            </div>

            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-credit-card" [class.green-icon]="numTarjeta" [class.red-icon]="numTarjetaNoValido"></i></div>
                </div>
                <input type="text" formControlName="numTarjeta" maxLength="20" class="form-control" placeholder="Número de Tarjeta" mask="0000-0000-0000-0000">
            </div>

            <div class="row">

                <div class="col-lg-7">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-calendar" [class.green-icon]="fechaExp" [class.red-icon]="fechaExpNoValido"></i></div>
                        </div>
                        <input type="text" formControlName="fechaExp" maxLength="5" class="form-control" placeholder="MM/YY" mask="M0/00">
                    </div>

                </div>

                <div class="col-lg-5">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-key" [class.green-icon]="cvv" [class.red-icon]="cvvNoValido"></i></div>
                        </div>
                        <input type="password" formControlName="cvv" maxLength="3" class="form-control" placeholder="CVV">
                    </div>
                </div>

            </div>

            <button type="submit" [disabled]="this.forma.invalid" class="btn btn-success btn-block mt-3"> <i class="fas fa-database"></i> Guardar</button>

        </form>
    </div>
</div>